@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    background-color: white;
    font-family: "Source Sans Pro";
}
h1 {
    color: black;
    padding: 10px;
    font-family: "Source Sans Pro";
}
p {
  padding-left: 10px;
  font-family: "Source Sans Pro";
  font-size: 24px;
  text-align: center;
}
button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}
